{% extends "base.html" %}
{% load static %}

{% block title %} جدیدترین مقالات ما{% endblock title %}

{% block content %}


 <div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style="background-image: url(Theme/images/about-us/01.jpg);">  
    <div class="container-fluid"> 
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">وبلاگ</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="">خانه</a></li> 
                        <li class="breadcrumb-item active">وبلاگ</li>
                    </ol>
                </nav>
            </div>
        </div> 
    </div>
</div>

<!-- Main container -->  
        
<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog1.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog2.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog3.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog4.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog5.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog6.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog7.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog8.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog9.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="Theme/images/blog/blog10.jpeg" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>ادمین</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">22 مرداد 1400</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="blog-details.html">
                                مورد انتظارترین فیلم ها</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="#">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogcat">
                           <li class="iq-tag-title"><i class="fa fa-film" aria-hidden="true"></i> دسته بندی ها:</li>
                           <li><a href="#">درام ها</a></li>
                        </ul>
                        <ul class="iq-blogtag">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           <li><a href="#">کمدی</a></li>
                           <li><a href="#">نمایش</a></li>
                           <li><a href="#">تریلرها</a></li>
                        </ul>
                     </div>
                  </div>
               </article>
               <a class=" btn btn-hover iq-button">
                  <span>بارگذاری بیشتر</span>
               </a>
             </div>
            <div class="col-lg-4 col-sm-12">
                <div class="widget-area" aria-label="Blog Sidebar">
                    <div id="search-2" class="widget widget_search">
                        <form method="get" class="search-form" action="#" autocomplete="off">
                            <label for="search-form">
                                <span class="input-group screen-reader-text">جستجو برای:</span>
                            </label>
                            <input type="search" class="search-field search__input"  placeholder="جستجو" value="" name="s">
                           <button type="submit" class="search-submit">
                              <i class="ri-search-line"></i>
                              <span class="screen-reader-text">جستجو</span>
                           </button>
                        </form>
                    </div>
                    <div class="iq-widget-menu widget">
                        <h5 class="widget-title">پست اخیر</h5>              
                        <div class="list-inline iq-widget-menu">
                           <ul class="iq-post">
                              <li>
                                 <div class="post-img">
                                    <div class="post-img-holder">
                                       <a href="#" style="background-image: url('Theme/images/blog/blog1.jpeg');"></a>
                                    </div>
                                    <div class="post-blog">
                                       <div class="blog-box">
                                          <ul class="list-inline">
                                             <li class="list-inline-item  mr-3">
                                                <a class="date-widget" href="#"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>22 مرداد 1400</a>
                                             </li>
                                          </ul>
                                          <a class="new-link" href="#"><h6>مورد انتظارترین فیلم ها</h6></a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="post-img">
                                    <div class="post-img-holder">
                                       <a href="#" style="background-image: url('Theme/images/blog/blog2.jpeg');"></a>
                                    </div>
                                    <div class="post-blog">
                                       <div class="blog-box">
                                          <ul class="list-inline">
                                            <a class="date-widget" href="#"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>22 مرداد 1400</a>
                                        </ul>
                                          <a class="new-link" href="#"><h6>مورد انتظارترین فیلم ها</h6></a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="post-img">
                                    <div class="post-img-holder">
                                       <a href="#" style="background-image: url(Theme/images/blog/blog3.jpeg);"></a>
                                    </div>
                                    <div class="post-blog">
                                       <div class="blog-box">
                                          <ul class="list-inline">
                                            <a class="date-widget" href="#"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>22 مرداد 1400</a>
                                        </ul>
                                          <a class="new-link" href="#"><h6>مورد انتظارترین فیلم ها</h6></a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div id="archives-2" class="widget widget_archive">
                        <h5 class="widget-title">بایگانی</h5>
                        <ul>
                           <li><a href="#">1 شهریور 1400</a></li>
                           <li><a href="#">13 فروردین 1399</a></li>
                        </ul>
                     </div>
                     <div id="categories-2" class="widget widget_categories">
                        <h5 class="widget-title">دسته بندی ها</h5>
                        <ul>
                           <li><a href="#">درام ها</a></li>
                           <li><a href="#">تاریخی</a></li>
                           <li><a href="#">فیلم سینما</a></li>
                           <li><a href="#">تریلرهای فیلم</a></li>
                           <li><a href="#">تریلرها</a></li>
                           <li><a href="#">کمدی های تلویزیونی</a></li>
                           <li><a href="#">شایعات تلویزیونی</a></li>
                           <li><a href="#">سریال تلویزیونی</a></li>
                        </ul>
                     </div>
                     <div id="tag_cloud-2" class="widget widget_tag_cloud"><h5 class="widget-title">برچسب ها</h5><div class="tagcloud">
                        <ul class="wp-tag-cloud" role="list">
                           <li><a href="#" class="tag-cloud-link " >اکشن</a></li>
                           <li><a href="#" class="tag-cloud-link ">کمدی</a></li>
                           <li><a href="#" class="tag-cloud-link ">درام</a></li>
                           <li><a href="#" class="tag-cloud-link ">تاریخی</a></li>
                           <li><a href="#" class="tag-cloud-link ">وحشتناک</a></li>
                           <li><a href="#" class="tag-cloud-link ">فیلم</a></li>
                           <li><a href="#" class="tag-cloud-link">تریلرهای فیلم</a></li>
                           <li><a href="#" class="tag-cloud-link">رمز و راز</a></li>
                           <li><a href="#" class="tag-cloud-link">شایعات</a></li>
                           <li><a href="#" class="tag-cloud-link">هیجان</a></li>
                           <li><a href="#" class="tag-cloud-link">تریلرها</a></li>
                           <li><a href="#" class="tag-cloud-link ">شایعات تلویزیونی</a></li>
                           <li><a href="#" class="tag-cloud-link">سریال تلویزیونی</a></li>
                        </ul>
                     </div>
                  </div>
                  <div id="recent-posts-2" class="widget widget_recent_entries">
                     <h5 class="widget-title">پستهای اخیر</h5>
                     <ul>
                        <li>
                           <a href="#">
                            مورد انتظارترین فیلم ها
                            </a>
                        </li>
                        <li>
                           <a href="#">
                            مورد انتظارترین فیلم ها
                            </a>
                        </li>
                        <li>
                           <a href="#">
                            مورد انتظارترین فیلم ها
                            </a>
                        </li>
                        <li>
                           <a href="#">
                            مورد انتظارترین فیلم ها
                            </a>
                        </li>
                        <li>
                           <a href="#">
                            مورد انتظارترین فیلم ها
                            </a>
                        </li>
                     </ul>
                  </div>
                  <div id="meta-1" class="widget widget_meta">
                     <h5 class="widget-title">متا</h5>
                     <ul>
                        <li><a href="#">وارد شدن</a></li>
                        <li><a href="#">خوراک ورودی ها</a></li>
                        <li><a href="#">خوراک نظرات</a></li>
                        <li><a href="#">Netcopy.ir</a></li>
                     </ul>
                  </div>
               </div>
            </div>
        </div>
    </div>
</main>
<!-- Main container end -->


{% endblock content %}