{% extends "base.html" %}
{% load static %}

{% block title %} Movie title {% endblock title %}

{% block content %}


   <!-- Banner Start -->
   <div class="video-container iq-main-slider">
      <video class="video d-block" controls loop>
         <source src="video/sample-video.mp4" type="video/mp4">
      </video>
   </div>
   <!-- Banner End -->
   <!-- MainContent -->
   <div class="main-content movi">
      <section class="movie-detail container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="trending-info g-border">
                  <h1 class="trending-text big-title text-uppercase mt-0">The Illusion</h1>
                  <ul class="p-0 list-inline d-flex align-items-center movie-content">
                     <li class="text-white">اکشن</li>
                     <li class="text-white">درام</li>
                     <li class="text-white">دلهره آور</li>
                  </ul>
                  <div class="d-flex align-items-center text-white text-detail">
                     <span class="badge badge-secondary p-3">13+</span>
                     <span class="ml-3">3 ساعت</span>
                     <span class="trending-year">2020</span>
                  </div>
                  <div class="d-flex align-items-center series mb-4">
                     <a href="javascript:void();"><img src="Theme/images/trending/trending-label.png" class="img-fluid"
                           alt=""></a>
                     <span class="text-gold ml-3">شماره 2 در سری امروز</span>
                  </div>
                  <p class="trending-dec w-100 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                  <ul class="list-inline p-0 mt-4 share-icons music-play-lists">
                     <li><span><i class="ri-add-line"></i></span></li>
                     <li><span><i class="ri-heart-fill"></i></span></li>
                     <li class="share">
                        <span><i class="ri-share-fill"></i></span>
                        <div class="share-box">
                           <div class="d-flex align-items-center">
                              <a href="#" class="share-ico"><i class="ri-facebook-fill"></i></a>
                              <a href="#" class="share-ico"><i class="ri-twitter-fill"></i></a>
                              <a href="#" class="share-ico"><i class="ri-links-fill"></i></a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section id="iq-favorites" class="s-margin iq-rtl-direction">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 overflow-hidden">
                  <div class="iq-main-header d-flex align-items-center justify-content-between">                     
                     <h4 class="main-title"><a href="movie-category.html">فیلم های مشابه</a></h4>                     
                  </div>
                  <div class="favorites-contens">
                     <ul class="list-inline favorites-slider row p-0 mb-0">
                        <li class="slide-item">
                           
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/movies/06.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">The Lost Journey</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">20+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/movies/07.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Boop Bitty</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">11+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/movies/08.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Unknown Land</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">17+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/movies/09.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Blood Block</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">13+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/movies/10.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Champions</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">13+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن</span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="iq-upcoming-movie" class="iq-rtl-direction">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12 overflow-hidden">
                  <div class="iq-main-header d-flex align-items-center justify-content-between">                     
                     <h4 class="main-title"><a href="movie-category.html">فیلم های آینده</a></h4>
                  </div>
                  <div class="upcoming-contens">
                     <ul class="favorites-slider list-inline  row p-0 mb-0">
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/upcoming/01.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">The Last Breath</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">5+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>
                                         تماشا کن
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                           
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/upcoming/02.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Last Night</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">22+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/upcoming/03.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">1980</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">25+</div>
                                       <span class="text-white">3 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/upcoming/04.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Looters</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">11+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                        <li class="slide-item">
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="Theme/images/upcoming/05.jpg" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="movie-details.html">Vugotronic</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                       <div class="badge badge-secondary p-1 mr-2">9+</div>
                                       <span class="text-white">2 ساعت</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <span class="btn btn-hover">
                                          <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                          تماشا کن
                                       </span>
                                    </div>
                                 </div>
                                 <div class="block-social-info">
                                    <ul class="list-inline p-0 m-0 music-play-lists">
                                          <li class="share">
                                              <span><i class="ri-share-fill"></i></span>
                                              <div class="share-box">
                                                 <div class="d-flex align-items-center">
                                                    <a href="https://www.facebook.com/sharer?u=https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-facebook-fill"></i></a>
                                                    <a href="https://twitter.com/intent/tweet?text=Currentlyreading" target="_blank" rel="noopener noreferrer" class="share-ico" tabindex="0"><i class="ri-twitter-fill"></i></a>
                                                    <a href="#" data-link="https://iqonic.design/wp-themes/streamit_wp/movie/shadow/" class="share-ico iq-copy-link" tabindex="0"><i class="ri-links-fill"></i></a>
                                                 </div>
                                              </div>
                                           </li>
                                          <li><span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">19+</span></li>
                                          <li><span><i class="ri-add-line"></i></span></li>
                                       </ul>
                                 </div>
                              </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
  

{% endblock content %}