{% extends "base.html" %}
{% load static %}

{% block title %} برنامه خرید-2{% endblock title %}

{% block content %}


        <div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style="background-image: url(Theme/images/about-us/01.jpg);">  
            <div class="container-fluid"> 
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                            <h2 class="title">طرح قیمت گذاری 2</h2>
                            <ol class="breadcrumb main-bg">
                                <li class="breadcrumb-item"><a href="">خانه</a></li> 
                                <li class="breadcrumb-item active">طرح قیمت گذاری 2</li>
                            </ol>
                        </nav>
                    </div>
                </div> 
            </div>
        </div>

        <!-- Main container -->  
       
        <div class="site-content-contain"> 
         <div id="content" class="site-content">
         <div id="primary" class="content-area">
            <main id="main" class="site-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
    
                        <div class="iq-pricing-card-two">
                            <div class="table-responsive iq-pricing pt-2">
                                <table id="my-table" class="table" data-active="premium">
                                    <thead>
                                        <tr>
                                            <th class="text-center iq-price-head"></th>
                                                <th class="text-center iq-price-head free">
                                                    <div class="iq-price-box">
                                                        <span class="">رایگان</span>
                                                    </div>
                                                </th>
                                                <th class="text-center iq-price-head premium">
                                                    <div class="iq-price-box">
                                                        <span class="">ویژه</span>
                                                    </div>
                                                </th>
                                                <th class="text-center iq-price-head basic">
                                                    <div class="iq-price-box">
                                                        <span class="">پایه</span>
                                                    </div>
                                                </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                        
                                    <tr>
                                        <th class="text-left" scope="row">سرگرمی بدون آگهی</th>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left" scope="row"> برنامه های تلویزیونی آمریکایی</th>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left" scope="row"> فیلم های هالیوودی</th>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left" scope="row"> فیلم های جدید</th>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                        <td class="text-center iq-child-cell">
                                            <i class="fa fa-check-circle-o"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                       <th class="text-left" scope="row"> ویژه</th>
                                       <td class="text-center iq-child-cell">
                                          <i class="fa fa-times-circle"></i>
                                       </td>
                                       <td class="text-center iq-child-cell">
                                          <i class="fa fa-check-circle-o"></i>
                                       </td>
                                       <td class="text-center iq-child-cell">
                                          <i class="fa fa-times-circle"></i>
                                       </td>
                                    </tr>
                                    <tr>
                                       <th class="text-left" scope="row"> کیفیت ویدئو</th>
                                       <td class="text-center iq-child-cell">
                                          SD(480p)
                                       </td>
                                       <td class="text-center iq-child-cell">
                                          FHD(1080p)
                                       </td>
                                       <td class="text-center iq-child-cell">
                                          HD(720p)
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="iq-price-bottom">
                              <div class="iq-select-price row">
                                 <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="iq-price-rate-wrap" >
                                       <i class="fa fa-check-square"></i>
                                          <div class="iq-price-label">
                                             <span class="type1">رایگان</span>
                                                <h3 class="iq-price-rate">$0<small> / ماه</small></h3>
                                          </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="iq-price-rate-wrap active" >
                                       <i class="fa fa-check-square"></i>
                                          <div class="iq-price-label">
                                             <span class="type1">ویژه</span>
                                                <h3 class="iq-price-rate">$39<small> / 3 ماه</small></h3>
                                          </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="iq-price-rate-wrap" >
                                       <i class="fa fa-check-square"></i>
                                          <div class="iq-price-label">
                                             <span class="type1">پایه</span>
                                             <h3 class="iq-price-rate">$19<small> / ماه</small></h3>
                                          </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.3">
                                 <a href="{% static 'sign-up.html' %}" class="btn btn-hover iq-button">اشتراک در</a>
                                

                              </div>
                           </div>
                        </div>                        
                    </div>
                </div>   
            </div>
        </main>
</div></div></div>
        <!-- Main container End -->

        

{% endblock content %}